{% if post.banner_title or post.banner_text or post.banner_image or post.banner_button1 or post.banner_button2 %}
	<section data-component="hero" class="hero">
		<div class="container">
			<div class="hero__text">
				{% if post.banner_title %}
					<h1>{{ post.banner_title }}</h1>
				{% endif %}

				{{ post.banner_text |wpautop }}

				<div class="hero__button">
					{% if post.banner_button1 %}
						<a href="{{ post.banner_button1.url }}" class="btn primary" target="{{ post.banner_button1.target }}">
							{{ post.banner_button1.title }}
						</a>
					{% endif %}
					{% if post.banner_button2 %}
						<a href="{{ post.banner_button2.url }}" class="btn btn-link open_chat10" target="{{ post.banner_button2.target }}">
							{{ post.banner_button2.title }}
						</a>
					{% endif %}
				</div>
			</div>
		</div>

		{% if post.banner_image %}
			<div class="hero__bg">
				{{ image(post.banner_image,[800,500]) }}
			</div>
		{% endif %}

	</section>
{% endif %}

